<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
	<title>Homepage</title>
</head>

<body>
	<div class="container">
		<h2>Home page</h2>
		<h1 th:text="'Benvenuto, ' + ${authUser} + '!'">Benvenuto!</h1>
		<img class="rounded-circle" th:src="${authUserImage} == null ? _ : @{'data:image/png;base64,'+${authUserImage}}" style="width:100px;">
		 <br>Clicca qui per <a th:href="@{/logout}">il Logout</a><br>
		<h2>Activity Form</h2>

		<form action="#" th:action="@{/save}" th:object="${activity}" method="post">
			<p th:if="${successmessage}"><a href="#">&times;</a><strong class="text-success" th:text="${successmessage}"></strong></p>			
			<input type="text" placeholder="Name activity" th:field="*{activityTitle}"> 
			<input placeholder="Type of activity" th:field="*{type}" type="text">
			<input placeholder="Description" th:field="*{description}" type="text"> 
			<input placeholder="Expired date" th:field="*{date}" type="datetime-local"> <input type="hidden" th:field="*{id}"> 
			<input type="submit" value="Submit">
		</form>

		<h2>All Activities</h2>
			<table class="activities">
				<thead>
					<tr>
						<th>Activity Title</th>
						<th>Type of activity</th>
						<th>Description of activity</th>
						<th>Expired date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="activity: ${activities}">
						<td th:text="${activity.activityTitle}"></td>
						<td th:text="${activity.type}"></td>
						<td th:text="${activity.description}"></td>
						<td th:text="${#temporals.format(activity.expiredDate, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
</body>

</html>