body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	font-size: 2.2 rem;
}

.form-container {
	background-color: #add8e6;
	padding: 10px;
	margin: 20px;
	border: 1px solid #000;
	border-radius: 20px;
}

.text-success {
	font-size: .8 rem;
}

.activities {
	width: 100%;
	border: 1px solid #000;
	text-align: center;
}

.activities td, th {
	padding: 20px;
	border: 1px solid #000;
}

tbody tr:nth-child(odd) {
	background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
	background-color: #343a40;
	color: #fff;
}